<h1>User</h1>
<form [formGroup]="userForm" >
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" formControlName="username">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input type="text" class="form-control" id="phone" formControlName="phone">
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="street" class="form-label">Street</label>
      <input type="text" class="form-control" id="street" formControlName="street">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" formControlName="city">
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="zipcode" class="form-label">Zip Code</label>
          <input type="text" class="form-control" id="zipcode" formControlName="zipcode">
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Company Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
  </form>
  